<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>
<div th:align="right">
<span sec:authorize="isAuthenticated()"> Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
</span>
</div>
<h1 th:align="center">Admin page</h1>
<h4 th:inline="text">User: [[${#httpServletRequest.remoteUser}]]</h4>
<a th:href="@{/rental_car/admin/orders}">Orders |</a>
<a th:href="@{/rental_car/admin/cars}"> Cars</a>

</body>
</html>